*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  color:white;
  
  background-color: green;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;

}
.todo-btn{
  margin: 30px 800px;
}
.task{

}

table{
  width:500px;
  border-collapse: collapse;

}
table,th,td{
  border-bottom: 1px solid green;
  padding:10px;
  text-align: center;
  

}


.flex{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:50px;
}

.empty td{
  text-decoration: none;
  border: 0px;

}
.empty .btn1{
  padding:5px 10px;
  border: 0px;
  border-radius: 5px;
color: white;
  background-color: green;
  margin-left:5px;
}
.empty .btn2{
  padding:5px 10px;
  border: 0px;
  border-radius: 5px;
color: white;
  background-color: red;
}

.form{
 margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 gap:10px;
 margin-bottom: 100px;
}
.form input{
  height: 40px;
  width:300px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
}
.form select{
  height: 40px;
  width:200px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

.export h3{
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;

}
.export table{
  width:200px;
  display: flex;
  border: 0px;
  padding: 20px;
  margin-left: 700px;
  flex-wrap: wrap;
  flex-direction: column;
align-items: center;
justify-content: center;
gap:20px;
}

.btun {
  margin-left: 750px;
}

